/* POLICE */

@font-face{
    font-family: "Raleway";
    src: url("static/Raleway-Regular.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Raleway";
  /* font-weight: bold; */
}

a:hover {
    color: #0065FC;
}

p {
  font-family: "Raleway";
}

input {
    font-family: "Raleway";
  }



/* PAGE */

#container{
    margin: 2% auto;
    box-sizing: border-box; 
    width: 95%;
}

body {
    margin: 0;
    background-color: #fff;
}



/* HEADER - LOGO & MENU */

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo_site
{
    cursor: pointer;
}

.navigation{
    display:flex;
    margin-right: 4%;
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    color: #0065FC;
}
  
header ul li a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 20px;
    color: #0065FC;
}
  
header ul li {
    margin-left: 35px;
}
  
a {
    text-decoration: none;
    color: black;
}
  
.inscrire a {
    color: #0065FC;
    font-weight: bold;
    margin-right: 0%;
}
  
.inscrire a:hover {
    border-top: 2px solid #0065FC;
    padding-top: 20px;
}
  
.inscrire {
    padding-left: 35px;
}



/* FORMULAIRE DE RECHERCHE */

.logo_search {
    display: inline-flex;
    align-items: center;
}

.icone_map {
    font-size: 25px;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
    padding: 10px 10px;
    width: 50px;
    text-align: center;
  }
  
.search_input {
    padding: 10px;
    font-weight: bold;
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5em;
    height: 47px;
    font-size: 15px;
}
  
.search_button {
    border-radius: 0px 18px 18px 0;
    padding: 15px;
    background-color: #0065FC;
    color: #fff;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border: none;
}
.search_button i {
    display: none;
}

  

/* FILTRES */

.filtres {
    display: flex;
    font-size: 1em; 
    margin-top: 20px;
    margin-bottom: 20px;
}

.text_filters{
    align-self: center;
    font-size: 1.3em;
    margin: 0 20px 0 0;   
}

.filtre_list {
    display: flex;
    margin-left: 30px;
}

.filtre_name {
    display: flex;
    align-items: center;
    height: 50px;
    margin-right: 1.5em;
    border: 2px solid #F2F2F2;
    border-radius: 2em;
    font-weight: bold;
}

.filtre_name:hover {
    cursor: pointer;
    border-color: #0065FC;
    color: #0065FC;
}

.filtre_name span {
    font-weight: bold;
    padding-right: 1.5em;
    padding-left: 0.5em;
    cursor: pointer;
}

.icone_filtres {
    position: relative;
    right: 1px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #DEEBFF;
}

.icone_filtres i {
    margin: 17px;
    color: #0065FC;
}


/* INFO */

.info {
   display: flex;
}

.fa-info {
    text-align: center;
    color: #0065FC;
    border-radius: 100%;
    height: 33px;
    width: 33px;
    border: solid 1px #c9c4c4c5;
    padding: 7px;
    box-sizing: border-box;
}

.info_text {
    padding-left: 15px; 
    padding-bottom: 10px;
}


/* HOTELS HEBERGEMENTS*/

.hebergement_container {
    display: flex;
    height: auto;
}

.box_hotels {
    background-color: #F2F2F2;
    /* display: flex; */
    flex: 2;
    border-radius: 20px;
    margin-right: 2%;  
}

.hotels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 25px 10px 20px 15px;
}

#title1{
  padding: 10px;
  margin-left: 20px;
  margin-top: 35px;
}

.hotel_case {
    background: white;
    border-radius: 20px;
    box-sizing: border-box; 
    border: white solid 5px;
    box-shadow: 0 0 10px #c9c4c4c5;  
}

.hotel_case img {
    /* background-color: white; */
    border-radius: 15px 15px 0px 0px;
    cursor: pointer;
    width: 100%;
    height: 130px;
    object-fit: cover;
}

.about_hotel {
    padding: 5px;
}

.blue {
    color: #0065FC;
}

.grey {
    color: #DEEBFF;
}

.show_more {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
}

/* POPULAR HEBERGEMENTS */

.box_popular {
    background-color: #F2F2F2;
    flex: 1;
    border-radius: 20px;
}

#title2{
    padding: 10px;
    margin-left: 20px;
    margin-top: 35px;
}

.icon_popular {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-right: 5%;
}

.icon_popular i {
    font-size: 1.4em;
}

.popular {
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px 10px 20px 15px;
}

.popular_case {
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-sizing: border-box; 
    margin-bottom: 30px;
    height: 180px;
    border: white solid 5px;
    box-shadow:0 0 10px #c9c4c4c5; 
}

.popular_case img {
    border-radius: 15px 0px 0px 15px;
    cursor: pointer;
    width: 45%;
    height: 100%;
    object-fit: cover ;
}

 .about_popular_hotel {
    flex-direction: column;
    padding: 20px;
}

.about_popular_hotel h3 {
    margin: 10px;
}

.about_popular_hotel p {
    margin: 10px;
    padding-bottom: 25px;
  
}

.stars_popular {
    margin: 10px;
}


 /* ACTIVITE  */ 

 .box_activite {
    margin-top: 60px;
} 

.activites {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(4, 1fr);
    gap: 30px;
    grid-auto-flow: column;
    height: 800px;
}

.block1{
    grid-row-end: span 11;
}

.block1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.block2{
    grid-row-end: span 7;
}

.block2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.block3{
    grid-row-end: span 4;
}

.block3 img {
    width: 100%;
    object-fit: cover;
    /* CHROME */
    height: 70%; 
    /* FIREFOX */
    /* height: inherit;  */
   
}
.h3_block3 {
    /* CHROME */
    margin-top: -100px;
      /* FIREFOX */
    /* margin-top: 15px; */
}

.activite_case {
    display: grid;
    grid-template-rows: 1fr 50px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow:0 0 10px #c9c4c4c5;
    height: 100%;
    overflow: hidden;
}

.activite_name {
    margin-left: 20px;
    align-self: center;
}


/* FOOTER */

footer {
    display: flex;
    width: 95%;
    height: 100%;
    padding: 45px 50px 50px;
    background-color: #F2F2F2;
}


footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 15px;
}

footer h3 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 25px;
}

.box {
    width: 40%;
}

/* RESPONSIVE */

/* Mobile (phones, 600px and down) */
@media only screen and (max-width: 667px) {

    h2
    h3
    p
    a
    input {
        font-family: "Raleway";
    }

    #container {
        width: 100%;
        margin: 0;
        background-color: #fff;  
    }

    #logo{
        padding: 10px;
    }

    .logo_site {
        margin-top: 20px;
        margin-right: 210px;
    }

    .inscrire {
        position: absolute;
        top: 45px;
        right: 30px;
        font-size: 1.2em;
    }

    .inscrire a:hover {
        border-top: none;
    }
    /* MENU HEB ET ACT*/

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    nav {
        display: flex;
        width: 100%;
        margin-top: 8px;
    }

    nav ul {
        width: 100%;
        padding: 0;
        margin: 0;
        border-bottom: 3px solid #F2F2F2;
    }

    nav li {
        width: 100%;
        margin-top: 8px; 
        text-align: center;
        padding: 15px 0;
    }
  
    nav ul li a:hover {
        border-top: none;
    }
   
    nav li:hover {
        border-bottom: 3px solid #0065FC;
    }

    /* search  */
    .search {
        margin: 15px;
        padding: 5px;
    }
    .icone_map {
        width: 30px;
    }

    .search_button span {
        display: none;
    }
    .search_button {
        border-radius: 10px;
    }

    .search_button i {
        display: inline;
    }

    /* filtres */
    .filtres {
        display: grid;
    }
    .text_filtres{
    margin-left: 25px;

    }

    .filtre_list {
        flex-direction: column;
    }

    .filtre_name{
        margin-bottom: 10px;
    }

    /*  info */
    .fa-info {
        margin: 10px;
    }
    .info_text {
        padding: 0;
        margin-bottom: 30px;
    }

    /* hebergement et popular container */
    .hebergement_container { 
        flex-direction: column;
    }

    /* hebergement et popular container */
    .box_hotels {
        background-color: #fff;
        order: 2;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }

    .hotels {
        display: flex;
        flex-direction: column;
    }

    .about_hotel {
        margin: 10px;
        padding: 0;
    }

    /* hebergement populaire */
    .box_popular {
        /* display: grid; */
        width: 100%;
        order: 1;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .about_popular_hotel{
        align-content: stretch;
        font-size: 11px;
    }

    /* activite */
    .box_activite {
        width: 95%;
        margin: 10px;
    }

    .activites{
        display: flex;
        flex-direction: column;
        height: auto;  
    }

    #title3 {
        margin-left: 10px;
    }

    .block3 img{
        height: 100%;
    }

    .h3_block3 {
        margin-top: 15px;
    }

    /* footer */
    footer{
        width: auto;
        flex-direction: column;
        margin-top: 40px;
        padding: 0;
    }

    .box {
        width: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

}


/* Tablet (Tablet, ordinateur max 1024) */
@media (min-width: 668px) and (max-width: 1024px) {

    .filtres {
        flex-direction: column;
    }

    .filtre_list {
        margin: 10px;
    }
    
    .hebergement_container { 
        flex-direction: column;
    }
    
    .box_hotels {
        background-color: #fff;
        order: 2;
        width: 100%;
        margin: 0;
        padding: 0;
        margin-bottom: 30px;
    }
    
    .hotels {
        display: flex;
        flex-direction: column;
    }
    
    .about_hotel {
        margin: 10px;
        padding: 0;
    } 
    
    .hotel_case {
        height: 330px;
    }

    .hotel_case img {
        height: 190px;
    }

    .show_more {
        font-size: 20px;
        padding: 10px;
    }

    .activites {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .activite_case {
        height: 187px;
    }

    .activites img{
        height: 145px;
    }

    .h3_block3 {
        margin-top: 15px;
    }

    footer{
        width: auto;
        display: flex;
        margin-top: 40px;
        padding: 0;
    }
    
    .box {
        width: 40%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Extra large ecran (large laptops and desktops, 1025px and up) */
@media (min-width: 1025px) and (max-width: 1600px) {


    .popular {
        padding:10px;
        margin: 0;
    }

   .about_popular_hotel {
        align-content: stretch;
        font-size: 14px;
    }

    .block3 img{
        height: 100%;
    }

    .h3_block3 {
        margin-top: 15px;
    }

    footer {
        width: auto;
    }
}